In [1]:
import os

In [18]:
a="happy"
with open("happyFile.csv","w") as f:
    for filename in os.listdir("happy"):
        f.write(filename, end=", ")
        f.write(a)
        f.write("\n")

TypeError: write() takes no keyword arguments

In [38]:
a=4
with open("neutralFile.csv","w") as f:
    f.write("image"+", "+"label")
    f.write("\n")
    for i in range(0,731):
        f.write(str(i)+".jpg")
        f.write(", ")
        f.write(str(a))
        f.write("\n")

In [25]:
import pandas as pd

In [30]:
df=pd.read_csv("happyFile.csv")

In [31]:
df.head()

   image   label
0  0.jpg       0
1  1.jpg       0
2  2.jpg       0
3  3.jpg       0
4  4.jpg       0

In [33]:
df1=pd.read_csv("angryFile.csv")

In [34]:
df1.head()

   image   label
0  0.jpg       1
1  1.jpg       1
2  2.jpg       1
3  3.jpg       1
4  4.jpg       1